node_modules
.next
.wrangler
.env
.env.production
.dev.vars
.gitignore
.prettierignore
.prettierrc
.prettierrc.json
.prettierrc.json
prisma
tsconfig.json
wrangler.jsonc
dist/
build/
*.log
*.pid
.DS_Store
coverage/
*.db
*.sqlite
package-lock.json
yarn.lock